
h1{
  font-family: 'Quicksand', sans-serif;
  color: white;
}
p{
  font-family: 'Quicksand', sans-serif;
  color: white;
}
.containerfluid{
  
  background-color: black;
  padding: 7% 3% 15%;
}
